.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    color: red;
    padding: 5px;

}

.dialogsItems {
    color: black;
}

.dialog .active{
    padding: 5px;
    color: black;
}


.messages {
    padding: 10px;
}

.messages .message {
color: black;
}